.lectura {
  display: flex;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  position: relative;
}

.box-left {
  flex: 1;
  font-size: 2em;
  line-height: 3em;
  text-align: right;
  /* background-color: cyan; */
  position: relative;
}

.box-right {
  flex: 1;
  font-size: 2em;
  line-height: 3em;
  /* background-color: lime; */
  position: relative;
}

.box-right::first-letter {
  color: red;
}

.box-right::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0.2em;
  border-left: 2px solid black;
}

.box-right::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0.2em;
  bottom: 0;
  border-left: 2px solid black;
}